<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;">
<a href="http://127.0.0.1:5000/static/train/{{ dtr }}.jpeg"><img src="http://127.0.0.1:5000/static/train/{{ dtr }}.jpeg" alt="camera" border="0"></a>
  <!-- <img src="http://127.0.0.1:5000/static/train/Rikshit%20Makwana.jpeg" alt="{{ dtr }}" style="width:100%"> -->
  <h1>Dear, {{ username }}</h1>
  <p class="title">{{ dtr }} has came to meet you for {{ name2 }} from</p>
  <p>{{ usr }}</p>
  <p>{{ usr2 }}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <a href="https://api.whatsapp.com/send?phone=91{{userno}}&text=Hey%20meet%20me%20after%205%20MIN"><button>5 MIN</button></a>&nbsp;<a href="https://api.whatsapp.com/send?phone=91{{userno}}&text=Hey%20meet%20me%20after%2010%20MIN"><button>10 MIN</button></a>&nbsp;<a href="https://api.whatsapp.com/send?phone=91{{userno}}&text=Hey%20meet%20me%20after%2015%20MIN"><button>15 MIN</button></a></p>
</div>

</body>

</html>